@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap');


:root{

    /* Demensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid setting */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* color swatches */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-dark: #373737;
    --color_light: #ebebeb;
    --color-grey: #bbbbbb;
    --category-seafood: #3e30e2;
    --category-veg: #298f3f;
    --category-pasta: #bf5b23;
    --category-misc: #9a951e;
    --category-meats: #c98177;
    --category-dessert: #9374eb;
    --category-chicken: #249c8e;
    

}

*{ /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative; /* explain later */
    background-color: var(--background-color-dark);

    
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation, .hero, .image-section, .footer{
    width: var(--width-full);
}

.todays_recipes, .categories, .content_area{
    width: var(--width-12col); /* center later */
}

.navigation{
    background-color: var(--background-color-navigation);
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.fixed{
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.menu-container{
    width: var(--width-12col);
}

.menu-container ul{
    display: flex;
    list-style: none;

}

.menu-container ul li a{
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color-light);
    
}

.menu-container ul li a:hover{
    color: var(--primary-color);
}

.menu-container ul li{
   border-right: 1px solid var(--background-color-light); 
}

.menu-container ul li:last-child{
    border: none;
}

.hero{
    background-image: url("https://picsum.photos/1600/800");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    width: var(--width-full);
    height: auto;
    margin: 0;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--color-dark);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text{
    grid-column: 1/span3;
    grid-row: 2;
}

.hero-text h1{
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

.hero-text h1 span{
    font-size: 37px;
    font-weight: 900;
}

.search-box{
    grid-column: 2/span3;
    grid-row: 3;
    position: relative;
}

.search-glass{
    position: absolute;
    margin: 12px 0 0 12px;
}

.search-input{
    background-color: transparent;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    padding: 10px 20px 10px 40px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder{
    color: var(--background-color-light);
}

/* Today recipes section start */

.todays_recipes{
    width: var(--width-12col);
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.todays_recipes_headline{
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px 0 0 0;
    font-size: 37px;
}

.todays_recipes_content{
    display: grid;
    gap: var(--grid-gap);
    width: var(--width-12col);
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
}

.todays_recipes_content_block{
    background-color: var(--background-color-light);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.todays_recipes_content_block_image img{
    border-radius: 5px 5px 0 0;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.todays_recipes_content_block_text{
    padding: 20px;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_text h5{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p{
    font-size: 16px;
}

.todays_recipes_content_bottom_area{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays_recipes_content_bottom_area_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.todays_recipes_content_bottom_area_left p{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/* data category colors start */
div[data-category="seafood"]{
    border-left: 1px solid var(--category-seafood);
}

p[data-category="seafood"],
svg[data-category="seafood"],
span[data-category="seafood"]{
    color: var(--category-seafood);
}

div[data-category="chicken"]{
    border-left: 1px solid var(--category-chicken);
}

p[data-category="chicken"],
svg[data-category="chicken"],
span[data-category="chicken"]{
    color: var(--category-chicken);
}

div[data-category="vegan"]{
    border-left: 1px solid var(--category-veg);
}

p[data-category="vegan"],
svg[data-category="vegan"]{
    color: var(--category-veg);
}

div[data-category="pasta"]{
    border-left: 1px solid var(--category-pasta);
}

p[data-category="pasta"],
svg[data-category="pasta"]{
    color: var(--category-pasta);
}

div[data-category="snacks"]{
    border-left: 1px solid var(--category-misc);
}

p[data-category="snacks"],
svg[data-category="snacks"]{
    color: var(--category-misc);
}

div[data-category="meats"]{
    border-left: 1px solid var(--category-meats);
}

p[data-category="meats"],
svg[data-category="meats"]{
    color: var(--category-meats);
}

div[data-category="dessert"]{
    border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"],
svg[data-category="dessert"]{
    color: var(--category-dessert);
}
/* data category colors end */

.todays_recipes_content_bottom_area_right button{
background-color: var(--color-dark);
border: 1px solid var(--color-grey);
border-radius: 5px;
padding: 8px 16px;
font-size: 12px;
}

.todays_recipes_content_bottom_area_right button a{
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

.todays_recipes_content_bottom_area_left p:last-child{
    font-weight: 600;
}

/* category menu start */

.categories{
    width: var(--width-12col);
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.category-selection{
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px 0 0 0;
    font-size: 37px;
}

.category-bar{
    background-color: var(--background-color-light);
    height: 90px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center-icon {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-icon p{
    text-transform: uppercase;
    font-weight: 700;
}

/* category menu slut */

/* image clip start */

.image-section{
    height: 600px;
    width: var(--width-full);
    margin-top: 150px;
}

 .clip-image{
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    background-image: url("https://picsum.photos/1600/800");
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.clip-image-container{
    width: var(--width-12col);
      display: flex;
    justify-content: flex-end;
}

.image-text{
    background-color: var(--color_light);
    width: 367px;
    height: 187px;
    border-radius: 5px;
    padding: 30px 60px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image-text h6{
    color: var(--color-dark);
    font-weight: 700;
}

.image-text h4{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
}

.image-text p{
    color: var(--color-dark);
    font-weight: 400;
}

/* image clip slut */

/* content start */

.content-area{
    width: var(--width-12col);
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.content-area-headline{
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px 0 0 0;
    font-size: 37px;
}

.content-box{
    display: flex;
    flex-wrap: wrap;
}

.content-text{
    background-color: var(--background-color-light);
    padding: 80px 100px 80px 80px;

}

.content-button{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 70%;
}

.content-text-top{
    display: flex;
    justify-content: space-between;
}

.content-text-top p{
    margin: 0 0 0 10px;
}

.top-text{
    text-transform: uppercase;
    font-weight: 700; 
}

.content-main-text{
    color: var(--color-dark);
    font-weight: 400;
}

.content-text-top{
    color: var(--color-dark);
    font-weight: 700;
}

.half-width{
    width: 50%;
}

.height{
    height: 380px;  
}

.button{
    background-color: var(--color-dark);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
    width: fit-content;
}

.button a{
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

/* Footer start */

.footer-box{
    background-color: var(--primary-color);
    height: 150px;
}

.media{
    height: 150px;
    display: flex;
    justify-content: space-between;
    width: var(--width-12col);
    margin: 0 auto;
}

.media-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.media-box-item {
    display:flex;
    align-items: center;
    padding: 5px;
}

.media-box-item svg{
    margin-right: 10px;
}

.media-box-item p{
    font-weight: 400;
}

.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-footer p{
    font-weight: 400;
    padding: 5px;
}

.power-icon{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
    width: 200px;
    align-content: flex-end;
}

.power-icon svg {
    height: 24px;
    width: 24px;
}

.power-icon p {
  width: 80%;
  font-size: 14px;
}

/* side 2 start*/
.ingredients{
    display: flex;
    justify-content: center;
    width: var(--width-full);
    height: auto;
    margin: 0;
    color: var(--background-color-light);
}

.ingredients-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.ingredients-image{
    grid-column: 8 / span 5;
    grid-row: 2 / span 3;
    max-height: 460px;
}

.ingredients-text{
    grid-column: 1 / span 3;
    grid-row: 2;
}

.ingredients-text p{
    color: var(--primary-color);
}

.ingredients-text h1{
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

.ingredients-text h1 span{
    font-size: 37px;
    font-weight: 900;
}

.icon-place{
    display: flex;
    align-items: center;
    gap: 5px;
}

.time-energi-level{
    grid-column: 1 / span 6;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 67px 0;
}

.time-energi-level svg{
    color: var(--primary-color);
}

.ingredients-list{
    grid-column: 1 / span 6;
    grid-row: 4;
    display: flex;
    flex-direction: column;
}

.list-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 375px;
    padding: 20px;
}

.list-item li {
    max-width: 284px;
    padding: 8px 4px;
}

/* Button */

.media-button{
    grid-row: 5;
    
}

.media-button button{
    background-color: transparent;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
}

.media-button a{
    color: var(--color-white);
    /* text-transform: uppercase; */
    text-decoration: none;  
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Instructions start */
.instructions{
    width: var(--width-12col);
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.instructions-headline{
    grid-column: 1 / span 12;
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px 0 0 0;
    font-size: 37px;
}

.instructions-list{
    color: var(--color_light);
    grid-column: 1 / span 8;
    padding: 20px;
}

.instructions-list li {
    padding: 10px 4px;
}

/* instructions done */
/* side 2 done */

/* search page */
.hero-searchpage{
    background-image: var(--background-color-dark);
    min-height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: var(--width-full);
    height: auto;
    margin: 0;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--color-dark);
}

.search-box-searchpage{
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 100px 0 0 0;
}

.filter-category{
    grid-column: 6 / span 7;
    grid-row: 2;
    margin: 100px 0 0 0;
    background: linear-gradient(90deg, #ededed11, #ededed07);
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
    padding: 25px 20px;
}

.search-box-sp .search-input-sp{
    width: 100%;
}

.fullsearch-headline{
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-category h3{
    width: 100%;
    margin: 0 0 10px 0;
}

.filter-category label{
    width: 50%;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.filter-category input[type="radio"]{
    margin: 0 10px 0 0;
    height: 22px;
    width: 22px;
}

.filter-category input[type="radio"]{
    accent-color: var(--primary-color);
}

.filter-category input[type="radio"]#chicken{
    accent-color: var(--category-chicken);
}

.filter-category input[type="radio"]#seafood{
    accent-color: var(--category-seafood);
}

.filter-category input[type="radio"]#meats{
    accent-color: var(--category-meats);
}

.filter-category input[type="radio"]#misc{
    accent-color: var(--category-misc);
}

.filter-category input[type="radio"]#pasta{
    accent-color: var(--category-pasta);
}

.filter-category input[type="radio"]#veg{
    accent-color: var(--category-veg);
}

.filter-category input[type="radio"]#dessert{
    accent-color: var(--category-dessert);
}

.serp-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.serp-result-item{
    grid-column: 2 / span 10;
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.serp-result-item h4{
    color: var(--color_light);
    margin: 5px;
}

.serp {
    display: flex;
    justify-content: center;
}

.serp-result-item h2{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
}

.serp-result-item p{
   color: var(--color_light);
}
/* Search page done */
